@page
@model WebApp.Pages.NewGameModel

<h2>New Game</h2>

<form method="post" class="mt-1">

    <div class="mb-1">
        <label class="form-label">Game name:</label>
        <input type="text" asp-for="GameName" class="form-control board-info-input"/>
    </div>

    <br/>
    <div class="mb-1" id="player1-field">
        <label class="form-label">Player 1 name:</label>
        <input type="text" asp-for="Player1Name" class="form-control board-info-input"/>
    </div>
    
    <div class="mb-1" id="player2-field">
        <label class="form-label">Player 2 name:</label>
        <input type="text" asp-for="Player2Name" class="form-control board-info-input"/>
    </div>
    
    <div class="mb-1">
        <label class="form-label">Game Mode:</label>
        <select asp-for="GameMode" class="form-select board-info-input" id="game-mode">
            <option value="PVP">Player vs Player</option>
            <option value="PVAI">Player vs AI</option>
            <option value="AIVAI">AI vs AI</option>
        </select>
    </div>

    <div class="mb-1" id="ai-level-wrapper" style="display:none;">
        <label class="form-label">AI Difficulty:</label>
        <select asp-for="AiDifficulty" class="form-select board-info-input">
            <option value="Easy">Easy</option>
            <option value="Normal">Normal</option>
            <option value="Hard">Hard</option>
        </select>
    </div>
    
    <br/>
    <div class="mb-1">
        <label class="form-label">Board Type:</label>
        <select asp-for="BoardMode" class="form-select board-info-input">
            <option value="Classical">Classical</option>
            <option value="Cylindrical">Cylindrical</option>
        </select>
    </div>

    <div class="mb-1">
        <label class="form-label">Win condition:</label>
        <input asp-for="WinCondition" type="number" min="2" max="5" class="form-control board-size-input"/>
    </div>
    
    <div class="mb-1">
        <label class="form-label">Board Width:</label>
        <input asp-for="BoardWidth" type="number" min="4" max="20" class="form-control board-size-input"/>
    </div>

    <div class="mb-1">
        <label class="form-label">Board Height:</label>
        <input type="number" asp-for="BoardHeight" min="4" max="20" class="form-control board-size-input"/>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Start Game</button>
</form>


<script>
    const mode = document.getElementById("game-mode");
    const p1Field = document.getElementById("player1-field");
    const p1Input = document.getElementById("Player1Name");
    const p2Field = document.getElementById("player2-field");
    const p2Input = document.getElementById("Player2Name");
    const aiLevelWrapper = document.getElementById("ai-level-wrapper");

    function updateUi() {
        if (mode.value === "PVP") {
            p2Field.style.display = "block";
            aiLevelWrapper.style.display = "none";
            p2Input.value = "Player2";
        }
        else if (mode.value === "PVAI") {
            p2Field.style.display = "none";
            aiLevelWrapper.style.display = "block";
            p2Input.value = "AI";
        }
        else if (mode.value === "AIVAI") {
            p2Field.style.display = "none";
            p1Field.style.display = "none";
            aiLevelWrapper.style.display = "block";
            p1Input.value = "AI1";
            p2Input.value = "AI2";
        }
    }

    mode.addEventListener("change", updateUi);
    window.addEventListener("load", updateUi);
</script>

