html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.form-group {
  margin-bottom: 1em;
}

table.board {
  border-collapse: collapse;
  margin: 20px auto;
  font-family: monospace;
}

table.board th, table.board td {
  border: 1px solid #333;
  padding: 6px 8px;
  text-align: center;
}

td.outer, th.outer {
  background: #ddd;
  color: #555;
}

td.inner, th.inner {
  background: #fff;
}
